@import 'nib/gradients'
@import 'nib/vendor'
vendor-prefixes= o moz webkit ms

*
	box-sizing: border-box;

h4,h5,h6,h1,h2,h3
	margin 0 0 0 0

ul,ol
	margin 0 0 0 0
	padding 0 0 0 0

p
	margin 0
html,body
	font-family 'Montserrat-Regular'
	font-size 100%
table
	thead
		th
			text-align center
	tbody
		tr
			td
				text-align center

form
	.form-control
		width 65%
		display inline-block
		margin-right 1em

@font-face
	font-family 'Montserrat-Regular'
	src url(../fonts/Montserrat-Regular.ttf) format('truetype')

@font-face
	font-family 'Muli-Regular'
	src url(../fonts/Muli-Regular.ttf) format('truetype')

button,button.btn,input.Search
	&:focus,
	&:active,&
		box-shadow none
		outline none
		outline-offset 0
	&.btn-primary.btn-lg1.btn-block
		outline none

.alert
	border-radius 1em
	padding .3em 1.8em

.alert-dismissable,.alert-dismissible .close
	.close
		top 0

.banner,.centro
	background #fff
	border 1px solid #ebeff6
	border-radius 5px
	box-shadow 0 1px 1px rgba(0,0,0,.05)
	width 100%

.banner
	h2
		font-size 13px
		padding 1.7em
		>a
			color #D95459
			transition .5s
			font-size 13px
			&:hover
				font-size 14px
				text-decoration none
				transition .5s
				color darkblue
		i
			margin 0 .6em

.boton-form
	margin-top .8em
	border-radius 15px
	padding .5em 0
	width 40%

.centro
	margin-top 1.5em
	padding 2em 2em

.container-bar
	background #fff
	li
		&.active
			a
				background #fff
				&:hover,&:focus
					background #fff
	.navbar-right
		.dropdown-menu
			border 1px solid #ebeff6
			border-radius 4px
			box-shadow 0 1px 1px rgba(0,0,0,.05)
			margin 0
			padding 0
			right 28px
			li
				a
					color #999
					padding 9px 20px
					i
						margin-right 6%
				>a
					&:focus,&:hover
						background #f2f4f8 !important
						color #333
			>li
				>a.view
					text-align center
					&:focus,&:hover
						background none
						color #d95459
		a
			&.dropdown-toggle
					padding 0 0 0 0
				.name-caret
					font-size .9em
				img
					margin-left 1em
			&.toggle
				padding 15px 31px 0 16px

.container-bar
	margin 0
	padding-right 15px
	
.contenedor_principal
	background #F3F3F4

.contenido
	padding 1.3em 1.4em

.description
	font-size 15px

.footer
	background #fff
	padding 1em 0
	text-align center
	p
		font-size 14px
		a
			color: #333
			&:hover
				color #003399
.form2
	display: inline-block
.img-product
	height 220px
	width 100%

.glyphicon
	top 3px

.login
	background linear-gradient(120deg,teal,rgba(black .3))
	border-radius 4em
	margin 3em auto
	max-height 100vh
	padding 2em 2em
	width 75%
	button,a
		border-radius 1em
		text-transform uppercase
		width 40%
	input
		border-radius 1em
		line-height 1.8
		padding .3em .8em
		width 100%
		&[type="checkbox"]
			height 13px
			width 48px


.menu
	min-width 325px
	padding 0
	left -14em !important
	top 137%

.menu2
	border none !important
	box-shadow none
	float initial
	padding 0 0
	position initial
	>li
		a
			border-bottom 1px solid #e9e9e9
			padding 12px 0
			color #777
			&:hover,&:focus
				background #fff
				color #333 !important
			i
				margin 0 13px 0 10px !important
				font-size 18px

.nav
	.open 
		>a
			&:hover,&:focus,&
				background #fff
				border-color #e9e9e9
	>li
		display block
		position relative

.navbar-default
	background #fff
	border 0 transparent
	.navbar-brand
		&:hover,
		&:focus,&
			background rgb(26, 188, 156)
	.title
		background rgb(26, 188, 156)
		color #fff !important
		font-size 30px
		font-weight 500
		height 60px
		padding 20px 0
		text-align center
		width 230px
	.navbar-nav,.menu-left
		>.open
			>a
				&:hover,&:focus,&
					background #fff !important
		>.active
			>a
				&:hover,&:focus,&
					background #fff !important
	.menu-left,.menu2
		list-style none
		margin-bottom 0
		padding-left 0
		width 100%
		.navbar-left
			margin-bottom 5px
			margin-top 5px
			border-bottom 1px solid #E9E9E9
			div
				width 88.5%
			button
				background none
				border 0
				padding 0
				&:before
					color grey
					font-size 1.2em
			input
				&[type="text"]
					background none
					border none
					color #B3AEAE
					font-size 0.9em
					outline none
		>li
			width 100%
			>form
				border-bottom 1px solid #E9E9E9
				padding-bottom 2px
				padding-top 2px
			>a
				border-bottom 1px solid #E9E9E9
				box-shadow 0 0 #E9E9E9 inset !important
				padding 12px 1
				transition all .5s
				padding-bottom 12px
				padding-top 12px
				&:hover
					box-shadow 43px 0 #E9E9E9 inset !important
				i
					margin 0 10px
					font-size 18px
				span
					color #999
					font-size 14px
					&.fa
						margin-left 1em
	&.navbar-static-top
		margin-bottom 0



.number
	background-color #EB0000
	border-radius 100px
	color #fff
	font-size 11px
	height 13px
	left 28px
	line-height 1.2em
	position absolute
	right -6px
	text-align center
	top 11px
	width 13px

.numberitem
	width 148px

.price
	margin .5em 0

.text
	margin 1em 0 0 0
	a
		width 100%
		padding-left 0
		padding-right 0
		border-radius 4px

.user-new
	float left
	
.user-new-left
	float right
	i
		&.fa-user-plus,&.fa-heart,&.fa-times,&.fa-info,&.fa-rss
			background-color #3BB2D0
			border-radius 4px
			color #fff
			font-size 12px
			height 18px
			line-height 1.5em
			text-align center
			width 22px
		&.fa-heart
			background #1ABC9C
		&.fa-times
			background #8a8acb
		&.fa-info
			background #FBB03B
		&.fa-rss
			background #ED6498

.user-new-left,.user-new
	p
		color #000
		font-size 1em
	span
		color #B1B0B0
		font-family 'Muli-Regular'
		font-size .8em
@media (min-width 768px)

	.contenedor_principal
		margin 3.7em 0 0 230px
		

	.sidebar
		position: absolute !important
		width: 231px
		z-index: 1
			
@media (min-width 0) and (max-width 767px)
	.container-bar
		.navbar-right
			a.toggle
				padding-left 0
				padding-right 20px
				
	.contenedor_principal
		margin-top 8em

	.container-bar
		padding 0

	.footer
		margin 0

	.menu
		left: -16em !important
		top: 142%

	.menu2
		position static !important
		>li
			>a
				padding 12px 0 !important
				color #7777

	.menu_1
		left: -2.6em !important
	
	.menu-left
		margin -0.5px 0
		.navbar-left
			margin 6px 0 6px .8em

	.navbar-header
		background #1abc9c

	.navbar-left
		float left !important
		
	.navbar-nav
		.open
			.dropdown-menu
				background #fff
				position absolute
		>li
			float left
			>a
				font-size .9em

	.navbar-right
		float right !important
		margin 0 0
	.navbar-form
		border 0
		margin .8em 0 0 0
		padding 0
		width 58%
		.form-group
			display inline-block
			margin 0
			width 80%
	.number
		left 1.2em

	.sidebar
		>div.navbar-collapse.collapse.in
			padding 0

@media (max-width 533px)
	.description
		display: none

@media (max-width 477px)

	.container-bar 
		.navbar-right 
			a
				.name-caret
					display none
	.dropdown-menu
		left -13.3em !important

	.menu
		min-width 301px
		top 143%

	.menu_1
		left: -8em !important

	.navbar-default
		.navbar-nav
			>.open
				>a
					&:hover,&:focus,&
						float right

@media (min-width 311px) and (max-width 425px)

	.form
		.numberitem
			width 110%

		.botonenviar

			button
				overflow hidden
				padding-left 10px
				width 110%

@media (max-width 310px)

	.price
		width 110%

	.form
		.botonenviar
			button
				overflow hidden
				padding-left 5px
				width 85%

	.numberitem
		width 85%

/* Font */
.fa
	&.fa-globe
		color #999
		font-size 1.8em
		top 2px
